
<footer class="footer bg-dark py-3 mt-auto"> <!-- mt auto keeps the footer at the bottom when the content doesnt fill the screen -->
    <div class="container">
        <span class="text-muted">&copy; YelpSki 2023</span>
    </div>
</footer>