
<% layout('layouts/boilerplate')%> <!-- include the boilerplate file here so this file will have access to the bootstrap links etc -->
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>

            <!-- only render the error stack when in development mode -->
            <% if (process.env.NODE_ENV !== 'production') { %>
                <p><%= err.stack %></p>
            <% } %>

        </div>
    </div>
</div>